<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title><%= social.linkedin.full_name %> - <%= social.linkedin.headline %></title>
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
  <link href="/style.css" rel="stylesheet" media="all" />
  <link rel="shortcut icon" href="<%= social.gravatar.image(16) %>" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {
        // Linkify last tweet
        var tweet = $('#profile .tweet').html();
        tweet = tweet.replace(/(http\:\/\/[A-Za-z0-9\/\.\?\=\-]*)/g,'<a href="$1">$1</a>');
        tweet = tweet.replace(/@([A-Za-z0-9\/_]*)/g,'<a href="http://twitter.com/$1">@$1</a>');
        tweet = tweet.replace(/#([A-Za-z0-9\/\.]*)/g,'<a href="http://twitter.com/search?q=$1">#$1</a>');
        $('#profile .tweet').html(tweet);
    })
  </script>
</head>
<body>
  <a href="http://github.com/endel/socialoud"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
  <div id="container">
    <div id="profile">
      <div class="right">
        <img src="<%= social.gravatar.image(290) %>" alt="<%= social.linkedin.full_name %>" />
        <ul class="services">
          <li><a class="twitter" title="Twitter" href="<%= social.twitter.profile_url %>">Twitter</a></li>
          <li><a class="github" title="Github" href="<%= social.github.profile_url %>">Github</a></li>
          <li><a class="linkedin" title="Linkedin" href="<%= social.linkedin.profile_url %>">LinkedIn</a></li>
          <li><a class="facebook" title="Facebook" href="<%= social.facebook.profile_url %>">Facebook</a></li>
        </ul>
      </div>
      <div class="left">
        <h1><%= social.linkedin.full_name %></h1>
        <h2><%= social.linkedin.current %></h2>
        <p class="tweet">“<%= social.twitter.last_tweet %>”</p>
      </div>
      <div id="skills">
        <p><%= social.linkedin.skills.join(', ') %> ...</p>
      </div>
    </div>

  </div>
  <footer>
    <p>
      Powered by <a href="http://github.com/endel/socialoud" target="_blank">Socialoud</a><br />
      Copyright © 2011 - <%= social.linkedin.full_name %>
    </p>
  </footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22321935-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

